<!doctype html>
<html lang="en" manifest="cache.manifest">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ page.title }}</title>
	<style>
		html, body, a {
			height: 100%;
			width: 100%;
			margin: 0;
			overflow: hidden;
		}
		body {
			background: black url('../images/{{ page.gifurl }}.gif') center center no-repeat;
			background-size: cover;
		}
		a {
			display: block;
		}
		@media screen and (max-width: 470px), screen and (max-device-width: 470px) {
			body {
				background-size: contain;
			}
		}
	</style>
</head>
<body>
	<a href="{{ site.url }}"></a>
	<script type="text/javascript">
		var _gauges = _gauges || [];
		(function() {
			var t = document.createElement('script');
			t.type = 'text/javascript';
			t.async = true;
			t.id = 'gauges-tracker';
			t.setAttribute('data-site-id', '520ba48c613f5d677d00000c');
			t.src = '//secure.gaug.es/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
		})();
	</script>
</body>
</html>
