<!doctype html>
<html lang="en" manifest="cache.manifest">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ page.title }}</title>
	<style>
		html, body, a {
			height: 100%;
			width: 100%;
			margin: 0;
			overflow: hidden;
		}
		body {
			background: black url('../images/{{ page.imageName }}.gif') center center no-repeat;
			background-size: cover;
		}
		a {
			display: block;
		}
		@media screen and (max-width: 470px), screen and (max-device-width: 470px) {
			body {
				background-size: contain;
			}
		}
	</style>
</head>
<body>
	<a href="{{ site.url }}"></a>
	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-46210978-6','woftam.biz');ga('send','pageview');</script>
</body>
</html>
