<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>WOFTAM</title>
	<style>
	* {
		margin: 0;
		padding: 0;
		background-color: black;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		float: left;
		display: inline;
	}
	img {
		width: 200px;
		height: auto;
	}
	</style>
</head>

<body>
	<ul class="post-list">
		{% for page in site.pages %}
		{% if page.title != 'WOFTAM' %}
			<li>
				<h1><a href="{{ site.url }}{{ page.url }}"><img src="images/{{ page.gifurl }}"></img></a></h1>
			</li>
		{% endif %}
		{% endfor %}
	</ul>
</body>
</html>
