<!doctype html>
<html lang="en" manifest="cache.manifest">
<head>
	<meta charset="utf-8">
	<title>WOFTAM</title>
	<style>
	* {
		margin: 0;
		padding: 0;
		background-color: black;
	}
	a {
		display: inline-block;
		float: left;
		width: 12.5vw;
		height: 12.5vh;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		text-indent: -9999em;
	}
	</style>
	<script>
		if (window.navigator && window.navigator.loadPurpose === "preview") {
			window.location.href = "http://woftam.biz/preview";
		};
	</script>
</head>

<body>
	{% for page in site.pages %}
	{% if page.title != 'WOFTAM' and page.title != 'Feed' and page.title != 'Preview' %}
	{% if page.title != 'cache.manifest' %}
	<a href="{{ site.url }}{{ page.url }}" 
	   id="{{ page.imageName }}" 
	   style="background-image:url('images/{{ page.imageName }}.jpg')" 
	   onmouseover="mouseOver(this)"
	   onmouseout="mouseOut(this)">{{ page.title }}</a>
	{% endif %}
	{% endif %}
	{% endfor %}
	<script type="text/javascript">
		var _gauges = _gauges || [];
		(function() {
			var t = document.createElement('script');
			t.type = 'text/javascript';
			t.async = true;
			t.id = 'gauges-tracker';
			t.setAttribute('data-site-id', '520ba48c613f5d677d00000c');
			t.src = '//secure.gaug.es/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
		})();
	</script>

	<script type="text/javascript">
		function mouseOver(el) {
			var imageName = el.id;
			el.style.backgroundImage='url(images/' + imageName + '.gif)';
		}

		function mouseOut(el) {
			var imageName = el.id;
			el.style.backgroundImage='url(images/' + imageName + '.jpg)';
		}
	</script>
</body>
</html>
