<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>WOFTAM</title>
	<style>
	* {
		margin: 0;
		padding: 0;
		background-color: black;
	}
	a {
		display: inline-block;
		float: left;
		width: 20vw;
		height: 20vh;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		text-indent: -9999em;
	}
	</style>
</head>

<body>
	{% for page in site.pages %}
	{% if page.title != 'WOFTAM' %}
	<a href="{{ site.url }}{{ page.url }}" style="background-image:url('images/{{ page.gifurl }}')">{{ page.title }}</a>
	{% endif %}
	{% endfor %}
</body>
</html>
